.infoBox{
    flex:1;
    cursor: pointer;
}
.infoBox--selected{
    border-top:10px solid rgb(255, 47, 193) ;
}
.infoBox:not(:last-child){
    margin-right: 16p;
}
.infoBox__cases{
    color:red;
    font-weight: 600;
    font-size: 1.75rem;
    margin-bottom: 0.5rem;
}
.infoBox__total{
    
    color:black;
    font-size: 1.5rem;
    font-weight: 1000 !important;
    font-size: 0.8rem !important;
    margin-top: 15px !important;
}