.map{

    height:600px;
    background-color:whitesmoke;
    padding:1rem;
    border-radius: 20px;
    margin-top: 16px;
    box-shadow: 0 0 8px -4px,rgb(0,0,0,0.5);
}
.map .leaflet-container{
    height:100%;
}
.info-flag{
   height :80px; 
   width: 100%;
   background-size:cover;
   border-radius:8px;

}
.info-flag img{
    width: 100px;
    border-radius: 5px;

}
.info-cases{
    color:rgb(255, 0, 98);
    font-size: 16px;
    margin-top: 5px;
}

.info-recovered{
    font-size: 16px;
    color:rgb(0, 255, 42);
    margin-top: 5px;
}

.info-deaths{
    color: rgb(255, 0, 0);
    font-size: 16px;
    margin-top: 5px;
}